:root {
--main-text-color:#212121;
--secondary-text-color:#757575;
--main-background-color:#F5F4FA;
--secondary-background-color:#2F303A;
--accent-color: #2196F3;
}

body{
    font-family: Roboto, sans-serif;
   text-decoration: none;
}

/* LOGO */
.logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;
}
.logo .accent{
color: #2196F3;
}
.logo .basic{
    color: #212121;
}
/* LINKS */
.navigation:hover {
 background-color: #ffffff;
color: #2196F3;
;
 }
 .navigation:focus {
  color: rgb(0, 0, 0);
}
.navigation:active {
  color: rgb(0, 0, 0);
 }
.navigation {
 cursor: pointer;
 }
 .navigation{
     color: black;
     text-decoration: none;
 }
.link-item{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
list-style-type: none; 
color: #212121;
}
/* ADDRESS */
.address{
color: #757575;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
list-style-type: none;
}
.contact:hover {
background-color: #ffffff;
color: #2196F3;
}
.contact:focus {
    color: rgb(0, 0, 0);
}
.contact:active {
    color: rgb(0, 0, 0);
}
.contact {
    cursor: pointer;
}
.contact{
    color:  #757575;
    text-decoration: none;
}
/* MAIN */
.header{
    color: white;
background-color: #2F303A;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.button:hover {
    background: #2196F3;
    color: #ffffff;
}
.button:focus {
    color: rgb(0, 0, 0);
}
.button:active {
    color: rgb(0, 0, 0);
}
.button{
    cursor: pointer;
}
.button{
background-color: #2196F3;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
}
/* FEATURES */
.sections{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.list-item{
    list-style-type: none;
    text-decoration: none;
}
.features{
font-weight: 700;
font-size: 14px;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.description{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}
/* WHAT WE DO */

/* COMMAND */
.name{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.occupation{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
/* PORTFOLIO */
.button-list{
    list-style-type: none;
}
.btn:hover {
    background: #2196F3;
    color: #ffffff;
}
.btn:focus {
    color: rgb(0, 0, 0);
}
.btn:active {
    color: rgb(0, 0, 0);
}
.btn {
    cursor: pointer;
}
.btn{
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
background-color: white;
}
.image-list{
list-style-type: none;
}
.image-name{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
}
.type{
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: #757575;
}
/* FOOTER */
.logotype {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;
}
.logotype .start{
color: #2196F3;
}
.logotype .end {
    color: white; 
}
.footer {
background: #2F303A;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;

}
.address-footer{
font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
}
.contact-footer{
    color: #FFFFFF;
    text-decoration: none;
}
